
.transaction-wrapper {
  background: linear-gradient(135deg, #000000 0%, #f5f5f5 100%);
  min-height: 100vh; /* 覆蓋整個視窗 */
  display: flex;
  justify-content: center;
  align-items: center;
}


.transaction-container {
  max-width: 90vw;
  width: 800px;
  margin: 40px auto;
  padding: 24px;
  background-color: #000000; /* 淺灰容器 */
  border-radius: 12px;
}

h2 {
  font-size: 28px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  margin-bottom: 32px;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  color: #1f1f1f;
  margin-bottom: 16px;
}

.transaction-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  color: #000000;
  margin-bottom: 8px;
}

select,
input {
  padding: 12px;
  background-color: #333333;
  border: 1px solid #4a4a4a;
  border-radius: 8px;
  color: #e0e0e0;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

select:focus,
input:focus {
  outline: none;
  border-color: #ffffff;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #cfcccc; /* 新按鈕背景色 */
  color: #1c1c1c;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 8px; /* 新圓角 */
  margin: 24px 0; /* 增加上下間距，與資料分隔 */
  cursor: pointer;
  transition: background-color 0.3s ease; /* 過渡動畫 */
}

button:hover:not(:disabled) {
  background-color: #d4d4d4;
}

button:disabled {
  background-color: #4a4a4a;
  cursor: not-allowed;
}

.transaction-details,
.password-input,
.private-key,
.signature-result,
.transaction-success {
  margin-top: 24px;
  padding: 16px;
  background-color: #fffefe;
  border-radius: 8px;
}

.transaction-details p,
.private-key p,
.signature-result p,
.transaction-success p {
  font-size: 14px;
  margin-bottom: 8px;
  word-break: break-all; /* 防止文字溢出 */
  overflow-wrap: break-word; /* 確保文字在容器內換行 */
}

.password-input {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.password-input input {
  flex: 1;
}

.key-lock-container {
  text-align: center;
  margin-top: 24px;
  
}

.key-lock-container p {
  font-size: 16px;
  margin-bottom: 16px;
  background-color: #f6f1f1;
  
}

.lock {
  display: inline-block;
  padding: 8px;
  background-color: #f6f1f1;
  border-radius: 8px;
}

/* Toastify 自訂樣式 */
.Toastify__toast {
  background-color: #333333;
  color: #e0e0e0;
  border-radius: 8px;
}

.Toastify__toast--success {
  border-left: 4px solid #34c759;
}

.Toastify__toast--error {
  border-left: 4px solid #ff3b30;
}

.Toastify__toast--info {
  border-left: 4px solid #007aff;
}